<section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/media/delivery boy.png" alt="Error" class="img-fluid d-flex mx-auto">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia ut repudiandae voluptate cumque natus
            culpa itaque, enim ex! Sunt cupiditate totam voluptatibus quos nisi quo voluptate deserunt odio officia
            culpa.</p>
        </div>
        <div class="col-md-4">
          <h2>Food Delivery.com</h2>
          <table>
            <tr>
              <td><i class="bi bi-buildings"></i></td>
              <td>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, nam! Ipsam aliquam sed provident,
                  impedit saepe unde fuga repellendus? Porro optio impedit laboriosam.</p>
              </td>
            </tr>
            <tr>
              <td><i class="bi bi-telephone"></i></td>
              <td>
                <p>123-321456</p>
              </td>
            </tr>
            <tr>
              <td><i class="bi bi-phone"></i></td>
              <td>
                <p>+911234567890</p>
              </td>
            </tr>
            <tr>
              <td><i class="bi bi-envelope"></i></td>
              <td>
                <p>ayaan2311@gmail.com</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h2>Query Form</h2>
          <form action="/queryform" method="post">
            <input type="email" name="email" id="" class="form-control" placeholder="Email Here Email">
            <textarea name="query" id="" class="form-control" placeholder="Enter Query"></textarea>
            <button type="submit" class="btn btn-success form-control">Post Query</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
          </p>
        </div>
      </div>
    </div>
  </section>