<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-primary form-control mt-2">banner management</button></a>
    <a href="/admin/service/mess"><button class="btn btn-primary form-control mt-2">service management</button></a>
    <a href="/admin/testinomils/message"><button class="btn btn-primary form-control mt-2">Feedback management</button></a>
    <a href="/admin/query/message"><button class="btn btn-primary form-control mt-2">Query management</button></a>
</div>